/* godot.css */
/* @theme godot */

@import 'gaia';

@font-face {
  font-family: 'Ubuntu';
  src: url('assets/fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lilita';
  src: url('assets/fonts/LilitaOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CascadiaMono';
  src: url('assets/fonts/CascadiaMono.ttf') format('truetype');
}

section {
  font-family: 'Ubuntu', sans-serif;
  background-color: #edf0f3;
  color: #414042;
  font-size: 36px;
}

h1, h2 {
  font-family: 'Lilita', sans-serif;
  font-weight: normal;
  color: #478cbf;
  font-size: 70px;
}

h1 > strong {
  color: #478cbf;
}

h3, h4, h5, h6, strong {
  font-family: 'Lilita', sans-serif;
  font-weight: normal;
  color: #555;
}



section::after {
  font-family: 'Lilita', sans-serif;
  font-weight: normal;
  color: #7fafd5;
}


blockquote {
  font-size: 50px;
  text-align: left;
  font-weight: 700;
}

blockquote::after {
  content: "";
}


blockquote > p:after {
  content: "“";
  font-family: "Times New Roman,serif;";
  font-weight: 700;
  color: var(--color-dimmed);
}

code {
  background: #e0e2e6;
  color: black;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  font-family: "CascadiaMono";
}

marp-pre {
  background: #15171a;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
}

marp-pre > code {
  color: #dae4ed;
  font-size: 32px;
}

marp-pre > code .hljs-string {
  color: #50bd6a;
}

marp-pre > code .hljs-number {
  color: #eb9433;
}

table tr > th {
  background-color: #45627f;
  color: white;
}


.avatar {
  border-radius: 0.5em;
  width: 200px;
  height: 200px;
  margin-top: 60px;
}

section table {
  font-size: 30px;
}

.center-caption {
  font-size: 100px;
  font-family: 'Lilita', sans-serif;
  color: white;
  text-align: center;
  margin-top: 130px;
  text-shadow: #00000099 0 20px 60px;
}